* {
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    margin: 0;
}

.screen {
    display: flex;
    height: 100vh;
}

.leftside {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(38, 49, 41);
}

.leftside img {
    max-width: 500px;
    height: auto;
}

.rightside {
    width: 400px;
    background-color: #50e6b93a;
    padding: 50px;
    font-weight: 500;
}

.rightside label {
    display: block;
    margin-bottom: 20px;
}

.rightside input {
    width: 100%;
    border: 1px solid #0016103a;
    border-radius: 5px;
    padding: 8px;
    font-size: 14px;
    outline: 0;
}

.icon {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rightside img {
    width: 50px;
}

.botao--cadastrar {
    cursor: pointer;
    border: none;
    color:rgb(0, 0, 0);
    background-color: #50e6b93a;
    font-weight: 500;
}

.error {
    font-size: 11px;
    background-color: #FF0000;
    color: #FFF;
    padding: 4px;
    border-radius: 5px;
}

a {
    color: #000;
}

.body--login {
    background-color: #50e6b93a;
    ;
}

.container--login {
    background-color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 40px;
    font-weight: 500;
}

.container--login h1 {
    text-align: center;
}

.container--login label {
    display: block;
    margin-bottom: 20px;
}

.container--login input {
    width: 300px;
    border: 1px solid #0016103a;
    border-radius: 5px;
    padding: 8px;
    font-size: 14px;
    outline: 0;
}

.botao--login {
    cursor: pointer;
    border: none;
    color:rgb(0, 0, 0);
    background-color: #50e6b93a;
    font-weight: 500;
}
